<div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 text-left">
        <select class="form-control form-control-sm" id="per_page" (change)="changeValuePage($event.target)">
            <option *ngFor="let p of perpages" [value]="p.id" [selected]="p.active">{{ p.id }}</option>
        </select>
    </div>
    <label class="col-md-2 col-form-label required"> de &nbsp;<strong>{{pagination.totalElements}}
        Registros</strong></label>
    <div class="col-lg-8 col-md-8 col-sm-8 text-right">
        <ngb-pagination class="d-flex justify-content-end" [collectionSize]="pagination.totalElements" [(page)]="page"
                        [maxSize]="pagination.totalPages" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                        (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
</div>
